.about {
//
//   background: #ECF0F1;
  padding: $padding;
//
  &__graphic {
    // padding: $padding / 2;
    img {
      margin-top: 40px;
      width: 100%;
    }
  }

  .wall {
    font-size: 20px;
  }
//

}

.bullets {

  text-align: center;
    .fa {
      margin-right: 5px;
      color: $darkblue;
      font-size: 12px;
      line-height: 1.5;
    }
//
//       li {
//         margin-bottom: $margin;
//
//       }
//     }
}
