.header {

  // display: flex;
  background: #ECF0F1;
  padding: $padding;


  &__contact {

    margin-bottom: 20px;

    // &__list {
    //
    //   display: flex;
    //   flex-flow: row wrap;
    //
    //   &__item {
    //     flex-grow: 1;
    //     font-size: 18px;
    //   }
    // }
  }

  &__lower {

    // display: flex;
    //
    // .logo {
    //
    //   width: 30%;
    //
      img {
        width: 100%;
      }
    // }
    //
    .moto {
      margin-bottom: 12px;

    //
    //   color: #0f75bc;
    //   font-size: 22px;
    //   margin-bottom: $margin;
    //   margin-top: 60px;
    //   margin-left: 22px;
    }
  }

}
