.navigation {

  &__list {

    display: flex;

    &__item {
      flex-grow: 1;
      text-align: center;

      // padding: $padding;
      background: #BFDBFF;
      cursor: pointer;

      a {
        text-decoration: none;
        display: block;
        padding: $padding * 3;
      }

      &:hover {
        background: darken(#BFDBFF, 10%);
      }
    }
  }
}
