<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="header">
      <div class="header__logo">
        <div class="logo">
          <img src="app/assets/img/2.png" alt="">
        </div>
      </div>
      <div class="header__moto">
        <h2>COVERING ALL ASPECTS OF PROPERTY MAINTENANCE</h2>
      </div>
      <div class="header__contact">
        <ul class="contact__list">
          <li class="contact__list__item phone">Tel: 01793 322911</li>
          <li class="contact__list__item mobile">Mobile: 07800 738422</li>
          <li class="contact__list__item email">Email: dale1966@hotmail.com</li>
          <li class="contact__list__item address">Web: www.drbcontractors.co.uk</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
