<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../node_modules/flexboxgrid/"> -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
  <script src="https://use.fontawesome.com/55827f0b08.js"></script>
</head>
<body>
  <div class="">

    <div class="header">

      <div class="header__contact">
        <ul class="row header__contact__list">
          <li class="col-lg-3 header__contact__list__item phone">Tel: 01793 322911</li>
          <li class="col-lg-3 header__contact__list__item mobile">Mobile: 07800 738422</li>
          <li class="col-lg-3 header__contact__list__item email">Email: dale1966@hotmail.com</li>
          <li class="col-lg-3 header__contact__list__item address">Web: www.drbcontractors.co.uk</li>
        </ul>
      </div>



      <div class="row bottom-lg header__lower">

        <div class="col-lg-4 logo">
          <img src="app/assets/img/2.png" alt="">
        </div>

        <div class="col-lg-8 moto">
          <h2>COVERING ALL ASPECTS OF PROPERTY MAINTENANCE</h2>
        </div>

      </div>

    </div>
  </div>

  <div class="">
    <div class="navigation">
      <ul class="row navigation__list">
        <li class="col-lg-4 navigation__list__item"><a href="#about">ABOUT</a></li>
        <li class="col-lg-4 navigation__list__item"><a href="#services">SERVICES</a></li>
        <li class="col-lg-4 navigation__list__item"><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>

  <div id="about" class="row section">
    <div class="row about">
      <div class="col-lg-1 about__graphic">
        <img src="app/assets/img/hammer_flat.png" alt="">
      </div>
      <p class="col-lg-10 wall">
        Trading since 2006, we have been offering our services to Swindon and surrounding areas.
        We are proud to offer a professional and friendly building service.
        Ranging from general home maintenance and repairs, fully planned home extensions,
        or full property management and maintenance contracts. With the modern tools and know how you require,
        for a professional finish.
        For a free no obligation quote, and a first class service, you can get in touch through our links.
         Either way, you can find all our contact detail right here.
      </p>
      <div class="col-lg-1 about__graphic">
        <img src="app/assets/img/wrench_flat.png" alt="">
      </div>

    </div>
  </div>

  <div class="row bullets">
    <div class="col-lg-6 bullet">
      <ul class="">
        <li class=""><i class="fa fa-circle"></i>KITCHEN &amp; BATHROOM REPLACEMENT</li>
        <li class=""><i class="fa fa-circle"></i>U.P.V.C. WINDOWS DOORS &amp; FASCIAS</li>
        <li class=""><i class="fa fa-circle"></i>INSURANCE REPAIR WORK</li>
        <li class=""><i class="fa fa-circle"></i>ALL TYPES OF ROOFING</li>
      </ul>
    </div>
    <div class="col-lg-6 bullet">
      <ul class="">
        <li class=""><i class="fa fa-circle"></i>PREPARATION OF RENTAL PROPERTIES</li>
        <li class=""><i class="fa fa-circle"></i>PAINTING AND DECORATING DIVISION</li>
        <li class=""><i class="fa fa-circle"></i>PROPERTY REFURBISHMENT</li>
        <li class=""><i class="fa fa-circle"></i>PLUMBING SERVICES</li>
      </ul>
    </div>
  </div>

  <div id="services" class="section">
    <div class="row services">
      <div class="col-lg-6 services__card">
        <div class="services__card__title">
          <h3>Maintenance Service</h3>
        </div>
        <div class="services__card__info">
          It is inevitable after time our homes require a bit of TLC.
          We can fix most bumps and bruises around the home, but sometimes a new item is needed.
          We source good quility products with a manufacturers guarantee.
          It's your option, but we can offer our professional advice.

          <div class="services__card__image">
            <img src="app/assets/img/house1.jpg" alt="">
          </div>
        </div>

        <div class="services__card__base"></div>
      </div>
      <div class="col-lg-6 services__card">
        <div class="services__card__title">
          <h3>Property Management Service</h3>
        </div>
        <div class="services__card__info">
          Are you a Letting Agents or Property Management company?
          We can take care of you too.
          We apply the same working ethic across the board.
          We have strong relationships with our customers.
          We offer speedy quotes, and a quick but quality job turn around.
          DRB currently works closely with:

          <div class="services__card__image">
            <img src="app/assets/img/van.jpg" alt="">
          </div>

        </div>
        <div class="services__card__base"></div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact section">
    <div class="contact__header">
      <h1>Contact</h1>
    </div>

    <div class="row contact__sections">
      <div class="col-lg-5 contact__form section">
        <form class="form" id="form1">

          <p class="name input">
            <input
              name="name"
              type="text"
              class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"
              placeholder="Name"
              id="name" />
          </p>

          <p class="email input">
            <input
              name="email"
              type="text"
              class="validate[required,custom[email]] feedback-input"
              id="email"
              placeholder="Email" />
          </p>

          <p class="text input">
            <textarea
              name="text"
              class="validate[required,length[6,300]] feedback-input"
              id="comment"
              placeholder="Comment"></textarea>
          </p>


          <div class="submit">
            <input type="submit" value="SEND" id="button-blue"/>
            <div class="ease"></div>
          </div>
        </form>
      </div>

      <div class="col-lg-5 contact__location section">
        map
      </div>
      <div class="col-lg-2 contact__social section">
        <ul>
          <li>facebook link</li>
          <li>other link</li>
          <li>other link</li>
          <li>other link</li>
        </ul>
      </div>

    </div>

  </div>

  <div class="footer">
    Contacts and Working With
  </div>

</body>
</html>
